body {
    margin: 0;
}

.panel-container {
    position: fixed;
}

.panel {
    color: #D4D2D5;
    font-family: 'Courier New', Courier, monospace;
    
    background-color: rgba(191, 175, 166, 0.103);
    border-left: 6px solid #D4D2D5;
    border-radius: 0 6px 6px 0;

    padding: 10px;
    margin: 6px;
}

.panel input, .panel button {
    margin: 2px 0 10px 0;
    width: 200px;
}

input[type="color" i] {
    cursor: pointer;
    border: 0;
}